# See systemd.timers and systemd.time manpages for details
[Unit]
Description=ZFS frequent snapshot timer

[Timer]
OnCalendar=*:0/15
Persistent=true

[Install]
WantedBy=timers.target
