[Unit]
Description=Create a daily ZFS snapshot of archive. Keep 7 of these.

[Service]
ExecStart=/usr/local/sbin/zfs-auto-snapshot --quiet --syslog --prefix=auto --label=daily --keep=7 //
