# See systemd.timer and systemd.time manpages for details
[Unit]
Description=ZFS daily snapshot timer

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=600
