[Desktop Entry]
Version=0.2
Encoding=UTF-8
Type=Application
Exec=/usr/bin/zfs-auto-snapshot-admin.sh simple
TryExec=/usr/bin/zfs-auto-snapshot-admin.sh
Icon=gtkam.png
X-GNOME-DocPath=
Terminal=false
Name=Automatic Snapshots
GenericName=Automatic Snapshots
Comment=Configure the system to take snapshots of ZFS filesystems at regular intervals
Categories=Application;System;Settings
